In [2]:
import pandas as pd

In [3]:
traincsv = pd.read_csv("train.csv", nrows = 5000)

In [4]:
traincsv.head()

,ImageId,EncodedPixels,Height,Width,ClassId,AttributesIds
0,00000663ed1ff0c4e0132b9b9ac53f6e,6068157 7 6073371 20 6078584 34 6083797 48 608...,5214,3676,6,"115,136,143,154,230,295,316,317"
1,00000663ed1ff0c4e0132b9b9ac53f6e,6323163 11 6328356 32 6333549 53 6338742 75 63...,5214,3676,0,"115,136,142,146,225,295,316,317"
2,00000663ed1ff0c4e0132b9b9ac53f6e,8521389 10 8526585 30 8531789 42 8537002 46 85...,5214,3676,28,163
3,00000663ed1ff0c4e0132b9b9ac53f6e,12903854 2 12909064 7 12914275 10 12919485 15 ...,5214,3676,31,"160,204"
4,00000663ed1ff0c4e0132b9b9ac53f6e,10837337 5 10842542 14 10847746 24 10852951 33...,5214,3676,32,219

In [5]:
image_group = traincsv.groupby('ImageId')

In [6]:
cnt_solid_images=0
solid_img_ids = []
for i, frame in enumerate(image_group):
    k, j = frame
    if j['AttributesIds'].isnull().sum()==0:
        cnt_solid_images = cnt_solid_images +1
        solid_img_ids.append(k)
print(cnt_solid_images)

131

In [7]:
solid_train = traincsv.loc[[i for i in range(len(traincsv)) if traincsv['ImageId'][i] in solid_img_ids]]

In [8]:
print(solid_train.isnull().sum())
print(len(solid_train['ImageId'].unique()))

ImageId          0
EncodedPixels    0
Height           0
Width            0
ClassId          0
AttributesIds    0
dtype: int64
131

'00000663ed1ff0c4e0132b9b9ac53f6e'

In [9]:
!mkdir train_small

A subdirectory or file train_small already exists.

In [10]:
import random
import shutil, os

In [11]:
small_imgs = random.sample(solid_img_ids, 20)

In [12]:
for i in small_imgs:
    c = os.path.join("train", i+".jpg")
    shutil.copy(c, 'train_small')
    print(c)

train\00000663ed1ff0c4e0132b9b9ac53f6e.jpg
train\023e8861e292dd375bdbbabb86d7ae55.jpg
train\01cc61e8264afb21a6366979e24bf977.jpg
train\02cc3d7cf83d7a6d39b73a73ec4214b5.jpg
train\01dd3209605ded26e55360e9d11974cf.jpg
train\00102686c01fa625aba3b2478f48f415.jpg
train\0055347a114b215f8f469fec9e38c272.jpg
train\01e562c8cd134e364104eb17bc18995a.jpg
train\01ec1705a5dad92febd7a336c4bb9dda.jpg
train\03b64eaf8e26539d531ee9eb76fd4e4b.jpg
train\0228e48a68f7e781031853d08449ca22.jpg
train\0017af9f7fa8ce9e7558bb924cec324e.jpg
train\010f48755074bf05eb0247c9faf414ae.jpg
train\01a9b41491629715b18739515f56e776.jpg
train\000aac3870ea7c59ca0333ffa5327323.jpg
train\03b2d8d1968f300e5c4038a5e200dba3.jpg
train\00bfc94340e552180ce0efb8a2024eff.jpg
train\00c81ae8b1f5e3b5d051d8ec12aa023c.jpg
train\01e7dc6b2c1038c86b291513a5b47c48.jpg
train\00b9a7729c9934f76ff67c54b5ad94f3.jpg

In [13]:
import os
import os.path

In [14]:
img_list = os.listdir("train")

In [15]:
"02141f4fea224fd6f4f4c60e1c40c8ab.jpg" in img_list

True

In [16]:
os.path.exists(r"train\01cf8aec5e3523f5aa1fe0b53dcc34b2.jpg")

True

In [17]:
small_df = traincsv.loc[[i for i in range(len(traincsv)) if traincsv['ImageId'][i] in small_imgs]]

In [18]:
small_df.head()

,ImageId,EncodedPixels,Height,Width,ClassId,AttributesIds
0,00000663ed1ff0c4e0132b9b9ac53f6e,6068157 7 6073371 20 6078584 34 6083797 48 608...,5214,3676,6,"115,136,143,154,230,295,316,317"
1,00000663ed1ff0c4e0132b9b9ac53f6e,6323163 11 6328356 32 6333549 53 6338742 75 63...,5214,3676,0,"115,136,142,146,225,295,316,317"
2,00000663ed1ff0c4e0132b9b9ac53f6e,8521389 10 8526585 30 8531789 42 8537002 46 85...,5214,3676,28,163
3,00000663ed1ff0c4e0132b9b9ac53f6e,12903854 2 12909064 7 12914275 10 12919485 15 ...,5214,3676,31,"160,204"
4,00000663ed1ff0c4e0132b9b9ac53f6e,10837337 5 10842542 14 10847746 24 10852951 33...,5214,3676,32,219

In [19]:
print(small_df['ImageId'].unique())
print(small_imgs)
sorted(list(small_df['ImageId'].unique()))==sorted(small_imgs)

['00000663ed1ff0c4e0132b9b9ac53f6e' '000aac3870ea7c59ca0333ffa5327323'
 '00102686c01fa625aba3b2478f48f415' '0017af9f7fa8ce9e7558bb924cec324e'
 '0055347a114b215f8f469fec9e38c272' '00b9a7729c9934f76ff67c54b5ad94f3'
 '00bfc94340e552180ce0efb8a2024eff' '00c81ae8b1f5e3b5d051d8ec12aa023c'
 '010f48755074bf05eb0247c9faf414ae' '01a9b41491629715b18739515f56e776'
 '01cc61e8264afb21a6366979e24bf977' '01dd3209605ded26e55360e9d11974cf'
 '01e562c8cd134e364104eb17bc18995a' '01e7dc6b2c1038c86b291513a5b47c48'
 '01ec1705a5dad92febd7a336c4bb9dda' '0228e48a68f7e781031853d08449ca22'
 '023e8861e292dd375bdbbabb86d7ae55' '02cc3d7cf83d7a6d39b73a73ec4214b5'
 '03b2d8d1968f300e5c4038a5e200dba3' '03b64eaf8e26539d531ee9eb76fd4e4b']
['00000663ed1ff0c4e0132b9b9ac53f6e', '023e8861e292dd375bdbbabb86d7ae55', '01cc61e8264afb21a6366979e24bf977', '02cc3d7cf83d7a6d39b73a73ec4214b5', '01dd3209605ded26e55360e9d11974cf', '00102686c01fa625aba3b2478f48f415', '0055347a114b215f8f469fec9e38c272', '01e562c8cd134e364104eb17bc18995a', '01ec1705a5dad92febd7a336c4bb9dda', '03b64eaf8e26539d531ee9eb76fd4e4b', '0228e48a68f7e781031853d08449ca22', '0017af9f7fa8ce9e7558bb924cec324e', '010f48755074bf05eb0247c9faf414ae', '01a9b41491629715b18739515f56e776', '000aac3870ea7c59ca0333ffa5327323', '03b2d8d1968f300e5c4038a5e200dba3', '00bfc94340e552180ce0efb8a2024eff', '00c81ae8b1f5e3b5d051d8ec12aa023c', '01e7dc6b2c1038c86b291513a5b47c48', '00b9a7729c9934f76ff67c54b5ad94f3']

True

In [20]:
small_df.to_csv('train_small.csv', index= False, header = True)

In [21]:
print(len(traincsv))

5000

In [22]:
traincsv.head()

,ImageId,EncodedPixels,Height,Width,ClassId,AttributesIds
0,00000663ed1ff0c4e0132b9b9ac53f6e,6068157 7 6073371 20 6078584 34 6083797 48 608...,5214,3676,6,"115,136,143,154,230,295,316,317"
1,00000663ed1ff0c4e0132b9b9ac53f6e,6323163 11 6328356 32 6333549 53 6338742 75 63...,5214,3676,0,"115,136,142,146,225,295,316,317"
2,00000663ed1ff0c4e0132b9b9ac53f6e,8521389 10 8526585 30 8531789 42 8537002 46 85...,5214,3676,28,163
3,00000663ed1ff0c4e0132b9b9ac53f6e,12903854 2 12909064 7 12914275 10 12919485 15 ...,5214,3676,31,"160,204"
4,00000663ed1ff0c4e0132b9b9ac53f6e,10837337 5 10842542 14 10847746 24 10852951 33...,5214,3676,32,219